body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;

}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
button:hover {
    background-color: #45a049;
}
button:active {
    background-color: #3e8e41;
}
button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
button:disabled:hover {
    background-color: #cccccc;
}